{% extends 'base.html' %}
{% load static %}

{% block title %}Development Blog{% endblock title %}

{% block page-header %}Development Blog{% endblock page-header %}

{% block content %}

    <div class="blog-content">
        <h1>Development Blog</h1>
        <div class="blog-grid-container">
            {% for b in blogs %}
            <div class="blog-card">
                <div class="blog-title-all">
                    <a href="{% url 'blog:blog_detail' b.pk %}"><h3 class="blog-title"> {{ b.title }} </h3></a>
                </div>
                <div class="blog-date-all">
                    <p class="blog-date"> {{ b.date_created }} </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock content %}

