{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="project-content">
    <h1>Projects</h1>
    <div class="row">
    {% for project in projects %}
        <div class="project-card">
            <img class="project-image" src="{% static project.image %}" alt="{{ project.title }}">
            <h3>{{ project.title }}</h3>
            <a class="project-link" href="{% url 'projects:project_detail' pk=project.id %}">View Details</a>
        </div>


    {% endfor %}
    </div>
</div>

{% endblock %}