{% extends 'base.html' %}
{% load static %}
{% block title %} Jack Tate - Full Stack Developer {% endblock title %}

{% block meta_description %}Home Page for Jack Tate Portfolio{% endblock %}


{% block content %}


        <div class="main-content">
            <div class="overview-container">
                <div class="overview-message">
                    <h1>Jack Tate</h1>
                    <h3> Full Stack Developer</h3>
                </div>
                <div class="spacer horizontal"></div>
                <div class="about-message">
                    <span>
                    <p>A Full Stack Developer based in West Midlands, UK. I have developed a range
                        of applications from Backend PDM systems and Inventory Management through to interactive Job Management Systems.</p>
                    <p> My primary interests lie in building powerful back-end systems and leveraging the potential of Python, Javascript and other Tech for a wide range of applications.
                        I believe in the importance of clean code, scalability, and continuously learning and adapting to the ever-evolving technology landscape.</p>
                    <p> I developed this site as a personal portfolio to showcase my projects and to share my development journey via my blog. Let's collaborate and make great code.</p>
                    </span>
                </div>
            </div>
            <div class="spacer vertical"></div>
            <div class="button-container">
                <span><a id=project-btn class="btn" href="{% url 'projects:all_projects' %}">Projects</a></span>
                <span><a id=blog-btn class="btn" href="{% url 'blog:all_blogs' %}">Blog</a></span>
            </div>
        </div>





{% endblock content %}